@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.title-page {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
  font-style: oblique;
  text-shadow: 2px 2px 4px #000000;
}

.unidades {
  width: 250px;
  height: 200px;
}

.fotos-unidades {
  background-color: rgba(209, 211, 212, 0.637);
}

.rifa {
  background-color: rgba(209, 211, 212, 0.637);
}

.titulo-rifa{
  font-size: 40px;
  font-style: oblique;
  text-decoration: underline;
  padding: 20px;
  font-weight: bold;
}

.rifas{
  font-size: 40px;
  padding: 20px;
  font-style: oblique;
}

.boton-rifas{
height: 40px;
width: 150px;
font-size: 20px;
font-weight: bold;
background-color: lightgrey;
}

.boton-rifas:hover{
  background-color: lightcoral;
}

.contacto {
  background-color: rgba(209, 211, 212, 0.637);
}

.warnings{
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.unidad-bombero {
  margin: 10px;
}

header {
  background-color: rgba(201, 3, 3, 0.616);
  padding: 20px;
  font-size: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 40px 0;
}

.nav-search {
  width: 150px;
  height: 35px;
  justify-content: right;
}

.compras{
  background-color:  rgba(209, 211, 212, 0.637);
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;
}

/*----------- CARRITO -----------*/

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    margin: 0 auto;
    max-width:1200px ;
    font-family: 'lato' ;
    color: black;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: black;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 40px 0;
}

.icono-carrito{
    position: relative;
}

.contenedor-carrito{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: black;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cantidad-productos{
    font-size: 20px;
}

.titulo-producto-carrito{
font-size: 20px;
text-decoration: underline;
}

.precio-producto-carrito{
font-weight: 700;
font-size: 20px;
margin-left: 10px;
}


.contenedor-carrito-ocultos{
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;

    background-color: #fff;
    width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;

}

.productos-carrito{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    align-items: center;
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.info-productos-carrito{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.cruz-carrito{
    width: 25px;
    height: 25px;
}

.cruz-carrito:hover{
    stroke: red;
    cursor: pointer;
}

.total-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.total-pagar h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
font-size: 20px;
font-weight: 900;
}

.hiden-cart{
    display: none;
}

.cart-vacio{
    padding: 20px;
    text-align: center;
}



.container-items{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 20px;
    padding-top: 100px;
}

.items{
    border-radius: 10px;
}

.items:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.info-rifa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo-rifa{
    padding: 15px 10px;
    font-size: 30px;
    text-decoration: underline;
}

.desc-rifa{
    line-height: 2;
    font-size: 20px;
    font-weight: bold ;

}

.precio-rifa{
    font-size: 30px;
    padding: 20px;
}

.img-rifas{
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.img-rifas:hover{
    transform: scale(1.2);
}

.items figure{
    overflow: hidden;
}

.btn-comprar{
    height: 50px;
    width: 100px;
    padding-bottom: 10px;
    cursor: pointer;
}

.btn-comprar:hover{
    background-color: lightcoral;
}






@media (min-width: 400px) and (max-width: 768px) {
  .title-page {
    font-size: 20px;
  }
  .nav-list {
    font-size: 15px;
    display: block;
    align-items: center;
  }
  .nav-search {
    height: 20px;
    width: 100px;
  }
  .fundacion {
    color: black;
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title-page {
    font-size: 30px;
  }
  .nav-list {
    font-size: 15px;
    display: block;
    align-items: center;
  }
  .nav-search {
    height: 20px;
    width: 100px;
  }
  .fundacion {
    color: black;
    font-size: 22px;
  }
}

.final-pagina {
  background-color: black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.footer {
  background-color: black;
  text-align: center;
  padding-top: 10px;
}

.n1 {
  grid-column: 1/2;
  color: white;
  text-decoration: underline;
  font-size: 1.3rem;
}

.n2 {
  grid-column: 1/2;
}

.n3 {
  grid-column: 1/2;
  color: white;
  text-decoration: underline;
  font-size: 1.4rem;
}

.redes {
  font-size: large;
  margin-bottom: 10px;
  color: white;
  margin-left: 10px;
}

.color-redes:hover {
  background-color: #a71e34;
}

.social-media {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.mapa {
  text-align: center;
}

.redes-container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 400px) and (max-width: 768px) {
  .final-pagina {
    background-color: black;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .footer {
    background-color: black;
    text-align: center;
    padding-top: 10px;
  }
  .n1 {
    grid-column: 1/2;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
  }
  .n2 {
    grid-column: 1/2;
  }
  .n3 {
    grid-column: 1/2;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .final-pagina {
    background-color: black;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .footer {
    background-color: black;
    text-align: center;
    padding-top: 10px;
  }
  .n1 {
    grid-column: 1/2;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
  }
  .n2 {
    grid-column: 1/2;
  }
  .n3 {
    grid-column: 1/2;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .botones-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-style: oblique;
    font-size: 20px;
  }
}
.btn {
  background-color: white;
}
.btn-enviar:hover {
  background-color: #a71e34;
  height: 50px;
  width: 100px;
}

.sub-titulo {
  text-shadow: 2px 2px 4px #000000;
  font-size: 2rem;
}

.nav-color:hover {
  background-color: white;
}

.portada {
  padding: 5px;
  background-color: rgba(3, 125, 247, 0.247);
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

.formacion {
  width: 100%;
  padding-top: 5px;
  background-color: rgba(209, 211, 212, 0.637);
}

.fundacion {
  background-color: rgba(209, 211, 212, 0.637);
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}

.carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.elemento {
  flex: 1 0 auto;
  margin: 0 10px;
  height: 200px;
  width: 200px;
}

.reseña-historica {
  background-color: rgba(209, 211, 212, 0.637);
  font-style: oblique;
  font-size: medium;
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
}

.text-history {
  text-align: center;
  padding-top: 15px;
  font-size: 1.3rem;
}

.galery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.texto-rifa {
  text-align: center;
  font-style: oblique;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 50px;
  padding-bottom: 50px;
}

.descripcion-rifa {
  font-style: oblique;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  padding: 35px;
}

.formulario-rifa {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: underline;
  font-size: 25px;
}

.titulo-vendedor {
  text-align: center;
  padding: 50px;
  font-size: 60px;
  font-style: oblique;
  text-shadow: 2px 2px 4px #000000;
}

.datos-rifa {
  font-style: oblique;
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.boton-rifa:hover {
  background-color: #a71e34;
  width: 100px;
  height: 50px;
}

@media (min-width: 400px) and (max-width: 768px) {
  .descripcion-rifa {
    font-style: oblique;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
  }
  .formulario-rifa {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: underline;
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .descripcion-rifa {
    font-style: oblique;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
  }
  .contenedor-rifa {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  .caja {
    background-color: rgba(209, 211, 212, 0.637);
    text-align: center;
    line-height: 2rem;
    padding: 5px;
  }
  .r1 {
    grid-column: 1/2;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
  }
  .r2 {
    grid-column: 2/3;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
  }
  .r3 {
    grid-column: 1/3;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
  }
  .r4 {
    grid-column: 1/3;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
  }
  .btn-enviar {
    height: 20px;
    width: 50px;
  }
}
.titulo-contacto {
  text-align: center;
  font-size: 2rem;
  padding-top: 10px;
}

.contacto {
  background-color: rgba(209, 211, 212, 0.637);
}

.parrafo-contacto {
  text-align: center;
  font-size: 2rem;
  font-style: oblique;
  font-weight: bold;
  padding-top: 20px;
}

.contenedor-contacto {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: 100%;
  margin: 0 auto;
}

.caja {
  background-color: rgba(209, 211, 212, 0.637);
  text-align: center;
  line-height: 100px;
}

.c1 {
  grid-column: 1/2;
  font-style: oblique;
  font-weight: bold;
  font-size: 1.4rem;
}

.c2 {
  grid-column: 2/3;
  font-style: oblique;
  font-weight: bold;
  font-size: 1.4rem;
}

.c3 {
  grid-column: 3/4;
  font-style: oblique;
  font-weight: bold;
  font-size: 1.4rem;
}

.c4 {
  grid-column: 1/4;
  font-style: oblique;
  font-weight: bold;
  font-size: 1.4rem;
}

.c5 {
  grid-column: 1/4;
}

@media (min-width: 400px) and (max-width: 768px) {
  .titulo-contacto {
    font-size: 22px;
  }
  .contenedor-contacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
  }
  .caja {
    background-color: rgba(209, 211, 212, 0.637);
    text-align: center;
    line-height: 2rem;
  }
  .c1 {
    grid-column: 1/2;
    font-style: oblique;
    font-weight: bold;
    font-size: 0.7rem;
  }
  .c2 {
    grid-column: 1/2;
    font-style: oblique;
    font-weight: bold;
    font-size: 0.7rem;
  }
  .c3 {
    grid-column: 1/2;
    font-style: oblique;
    font-weight: bold;
    font-size: 0.7rem;
  }
  .c4 {
    grid-column: 1/2;
    font-style: oblique;
    font-weight: bold;
    font-size: 0.7rem;
  }
  .c5 {
    grid-column: 1/2;
  }
  .btn-enviar {
    background-color: white;
    height: 20px;
    width: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .titulo-contacto {
    font-size: 22px;
  }
  .contenedor-contacto {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .caja {
    background-color: rgba(209, 211, 212, 0.637);
    text-align: center;
    line-height: 2rem;
    padding: 5px;
  }
  .c1 {
    grid-column: 1/2;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
  }
  .c2 {
    grid-column: 2/3;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
  }
  .c3 {
    grid-column: 1/3;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
  }
  .c4 {
    grid-column: 1/3;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
  }
  .c5 {
    grid-column: 1/3;
  }
  .btn-enviar {
    background-color: white;
    height: 20px;
    width: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
