$color-shadow: 2px 2px 4px #000000;
$color-bg: rgba(209, 211, 212, 0.637);
$color-blanco: white;
$color-btn: #a71e34;

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.title-page {
    color: $color-blanco;
    text-shadow: $color-shadow;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 25px;
    font-style: oblique;
    text-shadow: $color-shadow;
}

.unidades {
    width: 250px;
    height: 200px;
}

.fotos-unidades {
    background-color: $color-bg;
}

.rifa {
    background-color: $color-bg;
}

.boleto-rifa {
    width: 100%;
    padding: 20px;
}

.img-rifa {
    width: 100%
}

.contacto {
    background-color:$color-bg;
}

.unidad-bombero {
    margin: 10px;
}