.sub-titulo {
    text-shadow: $color-shadow;
    font-size: 2rem;
}

.nav-color:hover {
    background-color: $color-blanco;
}


.portada {
    padding: 5px;
    background-color: rgba(3, 125, 247, 0.247);
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

.formacion {
    width: 100%;
    padding-top: 5px;
    background-color: $color-bg;
}


.fundacion {
    background-color: $color-bg;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
    text-shadow: $color-shadow;
}