header {
    background-color: rgba(201, 3, 3, 0.616);
    padding: 20px;
    font-size: 32px;
    text-align: center;
}

.title-page {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.sub-titulo {
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5rem;
}

.nav-color:hover {
    background-color: #f8f4e3;
}


.portada {
    padding: 5px;
    background-color: rgba(3, 125, 247, 0.247);
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

.formacion {
    width: 100%;
    padding-top: 5px;
    background-color: rgba(209, 211, 212, 0.637);
}


.fundacion {
    background-color: rgba(209, 211, 212, 0.637);
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
}