.texto-rifa {
    text-align: center;
    font-style: oblique;
    font-size: 50px;
    font-weight: bold;
    text-shadow: $color-shadow;
}

.descripcion-rifa {

    font-style: oblique;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: $color-shadow;
}

.formulario-rifa {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: $color-shadow;
    text-decoration: underline;
    font-size: 15px;
}

.titulo-vendedor {
    text-align: center;
    padding: 50px;
    font-size: 60px;
    font-style: oblique;
    text-shadow: $color-shadow;
}

.datos-rifa {
    font-style: oblique;
    font-size: 35px;
    text-align: center;
    text-shadow: $color-shadow;
}

@media (max-width: 400px) {
    .descripcion-rifa {
        font-style: oblique;
        font-size: 1.3rem;
        font-weight: bold;
        text-shadow: $color-shadow;
    }

    .formulario-rifa {
        display: inline-block;
        text-align: center;
        font-weight: bold;
        text-shadow: $color-shadow;
        text-decoration: underline;
        font-size:15px;
    }
}